$$ R_{t, t+1}  = \frac {P_{t+1}}{P_{t}} - 1 $$

In [2]:
import pandas as pd

In [7]:
prices = pd.DataFrame(
    {
        'Blue' : [8.7, 8.91, 8.71, 8.43, 8.73], 
        'Orange' : [10.66, 11.08, 10.71, 11.59, 12.11]
    }
)

In [8]:
prices

   Blue  Orange
0  8.70   10.66
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

In [11]:
prices.iloc[1:].values / prices.iloc[:-1] - 1

       Blue    Orange
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866

In [13]:
prices/prices.shift(1) - 1

       Blue    Orange
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

In [17]:
returns = prices.pct_change()

In [18]:
returns.std()

Blue      0.033565
Orange    0.048328
dtype: float64

In [19]:
returns.mean()

Blue      0.001283
Orange    0.033260
dtype: float64

In [20]:
rd = 0.001
(1 + rd) ** 252 - 1

0.28643404437615216